div#create-course, div#setup-holes, div#submit-course {
    display: none;
    width: 200px;
    height: 45px;
    border-radius: 8px;
    background-color: lightseagreen;
    justify-content: center;
    align-items: center;
}
div#setup-holes {
    display: flex;
}

div#create-course > p, div#setup-holes > p, div#submit-course > p {
    color: white
}

div#submit-course {
    display: none;
}

div#create-course-box {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#courses > div {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

div#courses > div > div {
    display: flex;
    height: 25px;
    width: 80px;
    background-color: lightseagreen;
}
