div#content {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

div#bottom {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

select {
    margin: 5px;
}

button {
    height: 50px;
    width: 200px;
}

div#shoot, div#visible-finish {
    display: flex;
    width: 100px;
    height: 45px;
    background-color: seagreen;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

div#shoot:hover, div#visible-finish:hover {
    cursor: pointer;
}