div#content {
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

div#bottom {
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

select {
    margin: 5px;
}