div#create-course, div#setup-holes {
    display: flex;
    width: 200px;
    height: 45px;
    border-radius: 8px;
    background-color: lightseagreen;
    justify-content: center;
    align-items: center;
}

div#create-course > p, div#setup-holes > p {
    color: white
}

div#create-course-box {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}